<!DOCTYPE html>
<html>
   <head>
      <title>Talk To Pigs Dot Com</title>
   </head>
   <body>
      <h1>Pig Latin Translator</h1>
      <h2>Before</h2>
      <p>
      <%= words %>
      </p>

      <h2>After</h2>
      <p>
      <%= translated %>
      </p>

      <p><a href=".">Back...</a></p>
   </body>
</html>
