<!DOCTYPE html>
<html>
   <head>
      <title>Talk To Pigs Dot Com</title>
   </head>
   <body>
      <h1>Talk to Pigs</h1>
      <form method="post">
         <textarea name="awesome"></textarea>
         <input type="submit" />
      </form>
   </body>
</html>
