<!DOCTYPE html>
<html>
   <head>
      <title>Talk To Pigs Dot Com</title>
   </head>
   <body>
      <h1>Talk to Pigs</h1>
      <form method="post">
         <p><textarea name="awesome"></textarea></p>
         <p><input type="submit" /></p>
      </form>
   </body>
</html>
